@layout AuthLayout
@attribute [AllowAnonymous]

<div class="auth p-3 d-flex align-items-center justify-content-center h-100 flex-grow-1">
	<div class="auth_container w-100">
		@if (ShowRegister)
		{
			<button type="button" class="btn btn-primary btn-sm btn-cta-auth" @onclick="GoToLogin">@Resource.btn_GoToLogin</button>
			<EditForm Model="Model" OnValidSubmit="Register">
				<FluentValidationValidator @ref="_fluentValidationValidator" />
				<div class="form-group mb-4">
					<label for="UserName" class="form-label">@Resource.prop_AuthModel_UserName</label>
					<InputText id="UserName" class="form-control" @bind-Value="Model.UserName" />
					<ValidationMessage For="(() => Model.UserName)" />
				</div>
				<div class="form-group mb-4">
					<label for="Password" class="form-label">@Resource.prop_AuthModel_Password</label>
					<div class="form-input-password">
						<InputText id="Password" type="@(ShowPassword ? "text" : "password")" class="form-control" @bind-Value="Model.Password" />
						<button type="button" class="button-toggle-password @(ShowPassword ? "active" : null)" aria-label="toggle password visibility" @onclick="TooglePasswordVisibility"></button>
					</div>
					<ValidationMessage For="(() => Model.Password)" />
				</div>
				<button type="submit" class="btn btn-primary w-100">@Resource.btn_Register</button>
			</EditForm>
		}
		else
		{
			<button type="button" class="btn btn-primary btn-sm btn-cta-auth" @onclick="CreateAccount">@Resource.btn_CreateAccount</button>
			<EditForm Model="Model" OnValidSubmit="Login">
				<FluentValidationValidator @ref="_fluentValidationValidator" />
				<div class="form-group mb-4">
					<label for="UserName" class="form-label">@Resource.prop_AuthModel_UserName</label>
					<InputText id="UserName" class="form-control" @bind-Value="Model.UserName" />
					<ValidationMessage For="(() => Model.UserName)" />
				</div>
				<div class="form-group mb-4">
					<label for="Password" class="form-label">@Resource.prop_AuthModel_Password</label>
					<div class="form-input-password">
						<InputText id="Password" type="@(ShowPassword ? "text" : "password")" class="form-control" @bind-Value="Model.Password" />
						<button type="button" class="button-toggle-password @(ShowPassword ? "active" : null)" aria-label="toggle password visibility" @onclick="TooglePasswordVisibility"></button>
					</div>
					<ValidationMessage For="(() => Model.Password)" />
				</div>
				<button type="submit" class="btn btn-primary w-100">@Resource.btn_Login</button>
			</EditForm>
		}
	</div>
</div>