@page "/todos"

<h3>To Do List</h3>
@if (ToDosList == null || ToDosList.Count == 0)
{
	<div class="d-flex justify-content-center">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
}
else 
{
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Description</th>
				<th>Due Date</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in ToDosList)
			{
				<tr class="@(SelectedToDoId == item.Id ? "active" : null) @(item.DueDate < DateTime.Now ? "past-duedate" : null)" @onclick="(() => OnSelectedItem(item))">
					<td>@item.Id</td>
					<td>@item.Title</td>
					<td>@item.Description</td>
					<td>@item.DueDate.ToShortDateString()</td>
					<td>
						<button type="button" class="btn btn-dark btn-sm" @onclick="(() => Edit(item.Id))">Edit</button>
						<button type="button" class="btn btn-danger btn-sm" @onclick="(() => Delete(item.Id))">Delete</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}


<div class="row gx-2 justify-content-end">
	<div class="col-auto py-2">
		<a href="todo/0" class="btn btn-primary">Add</a>
	</div>
	@if (ToDosList.Count > 0){
		<div class="col-auto py-2">
			<button type="button" class="btn btn-dark" @onclick="(() => Edit(SelectedToDoId))">Edit</button>
		</div>
		<div class="col-auto py-2">
			<button type="button" class="btn btn-danger" @onclick="(() => Delete(SelectedToDoId))">Delete</button>
		</div>
	}
</div>