<h3>@Localizer["ToDoListName"]</h3>

@if (ToDos == null || ToDos.Count == 0)
{
	<div class="d-flex justify-content-center">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
}
else 
{
	<table class="table">
		<thead>
			<tr>
				<th>@Localizer["th_ToDoId"]</th>
				<th>@Localizer["th_ToDoTitle"]</th>
				<th>@Localizer["th_ToDoDescription"]</th>
				<th>@Localizer["th_ToDoDueDate"]</th>
				<th>@Localizer["th_ToDoActions"]</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in ToDos){
				<tr class="@(SelectedToDoId == item.Id ? "active" : null) @(item.DueDate < DateTime.Now ? "past-duedate" : null)" @onclick="(() => OnSelectedItem(item))">
					<td>@item.Id</td>
					<td>@item.Title</td>
					<td>@item.Description</td>
					<td>@item.DueDate.ToShortDateString()</td>
					<td>
						<button type="button" class="btn btn-dark btn-sm" @onclick="(() => Edit(item.Id))">@Localizer["btn_Edit"]</button>
						<button type="button" class="btn btn-danger btn-sm" @onclick="(() => Delete(item.Id))">@Localizer["btn_Delete"]</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
<div class="row gx-2 justify-content-end">
	<div class="col-auto py-2">
		<a href="toDos/0" class="btn btn-primary">@Localizer["btn_Add"]</a>
	</div>
	@if (ToDos.Count > 0){
		<div class="col-auto py-2">
			<button type="button" class="btn btn-dark" @onclick="(() => Edit(SelectedToDoId))">@Localizer["btn_Edit"]</button>
		</div>
		<div class="col-auto py-2">
			<button type="button" class="btn btn-danger" @onclick="(() => Delete(SelectedToDoId))">@Localizer["btn_Delete"]</button>
		</div>
	}
</div>