<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        @{var index = 0;}
        @foreach (var item in ToDos) {
            index++;
            <tr class="@(item.DueDate < DateTime.Now ? "test" : null)">
                <td>@index</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.DueDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
<div class="row gx-2 justify-content-end">
    <div class="col-auto py-2">
        <a href="/newToDo" class="btn btn-primary">Add</a>
    </div>
    <div class="col-auto py-2">
        <button type="button" class="btn btn-dark">Edit</button>
    </div>
    <div class="col-auto py-2">
        <button type="button" class="btn btn-danger">Delete</button>
    </div>
</div>