@* @inherits ExtendedComponentBase *@

<h3>@Resource.ToDoListName</h3>
@* <div class="row gx-0 flex-nowrap mb-4">
	<div class="col">
		<label for="search" class="form-label visually-hidden">Search</label>
		<input type="search" id="search" class="form-control rounded-end-0" placeholder="@Resource.SearchInputPlaceholder" @bind="SearchTerm" @onkeyup="OnEnter" />
	</div>
	<div class="col-auto">
		<button type="submit" class="btn btn-dark rounded-start-0" @onclick="Search">@Resource.btn_Search</button>
	</div>
</div> *@
@* <table class="table">
	<thead>
		<tr>
			<th>@Resource.th_ToDoTitle</th>
			<th>@Resource.th_ToDoDescription</th>
			<th>@Resource.th_ToDoDueDate</th>
			<th>@Resource.th_ToDoActions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in ToDos)
		{
			<tr class="@(SelectedTodo == item ? "active" : null) @(item.DueDate < DateTime.Today ? "past-duedate" : null)" @onclick="(() => OnSelectedItem(item))">
				<td>@item.Title</td>
				<td>@item.Description</td>
				<td>@item.DueDate.ToShortDateString()</td>
				<td>
					<button type="button" class="btn btn-dark btn-sm" @onclick="(() => Edit(item.Id))">@Resource.btn_Edit</button>
					<button type="button" class="btn btn-danger btn-sm" @onclick="(() => Delete(item.Id))">@Resource.btn_Delete</button>
				</td>
			</tr>
		}
	</tbody>
</table>
<div class="row gx-2 justify-content-end">
	<div class="col-auto py-2">
		<button type="button" class="btn btn-primary" @onclick="Add">@Resource.btn_Add</button>
	</div>
	@if (ToDos?.Count > 0)
	{
		<div class="col-auto py-2">
			<button type="button" class="btn btn-dark" @onclick="(() => Edit(SelectedTodo.Id))">@Resource.btn_Edit</button>
		</div>
		<div class="col-auto py-2">
			<button type="button" class="btn btn-danger" @onclick="(() => Delete(SelectedTodo.Id))">@Resource.btn_Delete</button>
		</div>
	}
</div>
<Pagination PageResponse="PaginatedResponse"
			OnPageChanged="async pageNumber => {await GetPageNumber(pageNumber);}"
			AriaLabel="pagination for todos" /> *@